.container{
    width: 100%;
    height:  100%;
    text-align: center;
    padding: 30px 0px;
    background-color: #abd699;
}
.weather {
    width: 380px;
    padding: 30px;
    border-radius: 10px;
    margin: 30px auto;
    text-align: center;
    color: white;
    background: linear-gradient(130deg, rgb(123, 207, 233), rgb(247, 253, 212));
}
.w_heading{
    padding: 0px !important;
    margin : 5px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: none;
    outline: 0;
    padding: 12px 25px;
    font-size: 18px;
    background-color: rgb(222, 237, 243);
    color: black;
    border-radius: 30px;
    flex: 1;
    margin-right: 12px;
}
.search button{
    border: none;
    outline: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.search button img{
    width: 20px;
}
.winfo .icon{
    margin-top: 20px;
    width: 170px;
}
.winfo h1{
    font-size: 50px;
    font-weight: 400;
    margin-top: 5px;
    margin: 0px !important;
    color: black;
}
.feels_p{
    margin: 0px !important;
}

.winfo h2{
    font-size: 30px;
    font-weight: 300;
    margin: 0px !important;
    color: black;
}
.winfo p{
    color: black;
}
.winfo-img{
    margin-top: 5px;
    height: 110px;
    /* width: 128px; */
}
.details{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.details .col{
    display: flex;
    align-items: center;
    text-align: left;
}
.humidity, .wind, .sunrise, .sunset{
    font-size: 15px;
}
.humidityimg, .windimg, .sunriseimg, .sunsetimg{
   height: 40px;
   width: 40px;
   margin: 7px;
   margin-right: 12px;
}
.humidity p, .wind p, .sunrise p, .sunset p{
    margin: 0px;
}
.error{
    color: red;
    text-align: left;
    margin-right: 10px;
}